**/.terraform
**/terraform.tfstate.backup
**/.env
Docker_projects/smokeping/config/
!Docker_projects/smokeping/config/Targets
**/*privkey.pem
Docker_projects/prodanov_org_temp/ssh_key/id_rsa
Docker_projects/prodanov_org_temp/content
